openapi: 3.0.0
info:
  version: latest
  title: Golf Data API
  description: This is the API for the golf data service

servers:
  - url: https://api.bthree.uk/golf/v1
    description: Production server

tags:
  - name: clubs
    description: Club operations
  - name: courses
    description: Course operations
  - name: holes
    description: Hole operations

paths:
  /clubs:
    get:
      summary: Get all clubs
      operationId: getClubs
      description: Get all clubs
      tags:
        - clubs
      parameters:
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/limit_param'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/last_value'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/last_id'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/offset'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/sort_by'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/query_name_param'
      responses:
        '200':
          $ref: '#/components/responses/get_clubs_response'
        '400':
          $ref: '../../../../vendor/github.com/jacobbrewer1/uhttp/common/common.yaml#/components/responses/bad_request'
        '500':
          $ref: '../../../../vendor/github.com/jacobbrewer1/uhttp/common/common.yaml#/components/responses/internal_server_error'

  /clubs/{club_id}/courses:
    get:
      summary: Get all courses for a club
      operationId: getCourses
      description: Get all courses for a club
      tags:
        - courses
      parameters:
        - name: club_id
          description: The ID of the club
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 1
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/limit_param'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/last_value'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/last_id'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/offset'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/sort_by'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/sort_direction'
      responses:
        '200':
          $ref: '#/components/responses/get_courses_response'
        '400':
          $ref: '../../../../vendor/github.com/jacobbrewer1/uhttp/common/common.yaml#/components/responses/bad_request'
        '500':
          $ref: '../../../../vendor/github.com/jacobbrewer1/uhttp/common/common.yaml#/components/responses/internal_server_error'

  /courses/{course_id}/markers:
    get:
      summary: Get all markers for a course
      operationId: getMarkers
      description: Get all markers for a course
      tags:
        - courses
      parameters:
        - name: course_id
          description: The ID of the course
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 1
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/limit_param'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/last_value'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/last_id'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/offset'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/sort_by'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/sort_direction'
      responses:
        '200':
          $ref: '#/components/responses/get_markers_response'
        '400':
          $ref: '../../../../vendor/github.com/jacobbrewer1/uhttp/common/common.yaml#/components/responses/bad_request'
        '500':
          $ref: '../../../../vendor/github.com/jacobbrewer1/uhttp/common/common.yaml#/components/responses/internal_server_error'

  /markers/{marker_id}/holes:
    get:
      summary: Get all holes for a marker
      operationId: getHoles
      description: Get all holes for a marker
      tags:
        - holes
      parameters:
        - name: marker_id
          description: The ID of the marker
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 1
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/limit_param'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/last_value'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/last_id'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/offset'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/sort_by'
        - $ref: '../../../../vendor/github.com/jacobbrewer1/pagefilter/common/common.yaml#/components/parameters/sort_direction'
      responses:
        '200':
          $ref: '#/components/responses/get_holes_response'
        '400':
          $ref: '../../../../vendor/github.com/jacobbrewer1/uhttp/common/common.yaml#/components/responses/bad_request'
        '500':
          $ref: '../../../../vendor/github.com/jacobbrewer1/uhttp/common/common.yaml#/components/responses/internal_server_error'

components:
  parameters:
    query_name_param:
      name: name
      description: The name of the club
      in: query
      required: false
      schema:
        type: string
        description: The name of the club to search for

  schemas:
    club:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Example Golf Club
        address1:
          type: string
          example: 1 Example Street
        address2:
          type: string
          example: Example Town
        address3:
          type: string
          example: Example County
        postcode:
          type: string
          example: EX1 1MP
      required:
        - id
        - name
        - address1
        - address2
        - address3
        - postcode

    course:
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Example Golf Course
      required:
        - id
        - name

    marker:
      properties:
        id:
          type: integer
          format: int64
          example: 1
        marker:
          type: string
          example: White
        slope_rating:
          type: integer
          format: int64
          example: 113
        course_rating:
          type: number
          format: float
          example: 72.5
        par_front_nine:
          type: integer
          format: int64
          example: 36
        par_back_nine:
          type: integer
          format: int64
          example: 36
        par_total:
          type: integer
          format: int64
          example: 72
        yards_front_nine:
          type: integer
          format: int64
          example: 3500
        yards_back_nine:
          type: integer
          format: int64
          example: 3500
        yards_total:
          type: integer
          format: int64
          example: 7000
        meters_front_nine:
          type: integer
          format: int64
          example: 3200
        meters_back_nine:
          type: integer
          format: int64
          example: 3200
        meters_total:
          type: integer
          format: int64
          example: 6400
      required:
        - id
        - marker
        - slope_rating
        - course_rating
        - par_front_nine
        - par_back_nine
        - par_total
        - yards_front_nine
        - yards_back_nine
        - yards_total
        - meters_front_nine
        - meters_back_nine
        - meters_total

    hole:
      properties:
        id:
          type: integer
          format: int64
          example: 1
        number:
          type: integer
          format: int64
          example: 1
        par:
          type: integer
          format: int64
          example: 4
        stroke_index:
          type: integer
          format: int64
          example: 1
        distance_yards:
          type: integer
          format: int64
          example: 400
        distance_meters:
          type: integer
          format: int64
          example: 365
      required:
        - id
        - number
        - par
        - stroke_index
        - distance_yards
        - distance_meters

  requestBodies: { }

  responses:
    get_clubs_response:
      description: Clubs response
      content:
        application/json:
          schema:
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/club'
              total:
                type: integer
                format: int64
                example: 1
            required:
              - items
              - total

    get_courses_response:
      description: Courses response
      content:
        application/json:
          schema:
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/course'
              total:
                type: integer
                format: int64
                example: 1
            required:
              - items
              - total

    get_markers_response:
      description: Markers response
      content:
        application/json:
          schema:
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/marker'
              total:
                type: integer
                format: int64
                example: 1
            required:
              - items
              - total

    get_holes_response:
      description: Holes response
      content:
        application/json:
          schema:
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/hole'
              total:
                type: integer
                format: int64
                example: 1
            required:
              - items
              - total
